* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --lite-gray: #D6D9Dc;
    --label-width: 120px;
    --sb-theme-color: #1992d4;
    --sb-conent-bg: #e2e8f0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  max-width: 100vw;
    background-color: var(--sb-conent-bg);
  
}
.sb-shadow {
   box-shadow: 4px 4px 4px rgba(72,73,121,0.15) !important;
   z-index: 2;
}
.flex-row {
    display: flex;
    gap: 25px;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    background-color: white;
    padding: 20px;
}
.header .header-top .search-box {
    flex: 1 1 auto;

}
#content .header-top {
    display: none;
}
.header .header-bottom, .header .header-top {
    justify-content: space-between;
}
.header .header-top .user-menu p {
    font-size: 16px;
    font-weight: bold;
}
.header .header-bottom .left-side p {
    font-size: 12px;
    font-weight: bold;
}
.header .header-top .avatar {
    width: 45px;
}
.header .header-bottom .avatar {
    width: 65px;
}
.avatar {
    border-radius: 50%;
    width: 45px;
}
.header .header-top .search-box input {
    width: 100%;
    max-width: 500px;
    background-color: var(--sb-conent-bg);
    padding: 6px;
    border-radius: 16px;
    border: none;
}

.header-top i:hover {
    opacity: 0.6;
    cursor: pointer;
    scale: 2;
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
button:focus-visible, button:focus {
    outline: none;
}
.header .header-bottom {
    grid-row: 2 / 5;
}
#content{
    height: 100vh;
    grid-template-rows: auto 1fr;
    display: grid;
}
#library {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    resize: both;
    overflow-y: auto;
}


.book {
    background-color: white;
    border-left: 8px solid #f0b429;
    border-radius: 6px;
    padding: 32px 16px;
    justify-content: space-between;
    gap: 0;
    
}
.book-pages {
    margin-bottom: 16px;
}
.book-title {
    margin-bottom: 16px;
}
.book-info {
    font-size: 14px;
}


button {
    border-radius: 6px;
    padding: 10px;
    width: 80px;
    background-color: var(--sb-theme-color);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
#new-book {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    font-size: 45px;
    font-weight: bold;
    z-index: 10000;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-row input {
    background-color: #FFFFFF;
    border: 1px solid var(--lite-gray);
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
}
.form-row input:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}
.form-row input:focus {
    border: 1px solid #0f30e9;
    box-shadow: 0 0 5px var(--sb-theme-color);
}

.book-toolbar {
    align-self: flex-end;
    margin-right: 8px;
}
.book-toolbar img, .book-toolbar i {
    width: 24px;
}
.book-toolbar img:hover, .book-toolbar i:hover {
    opacity: 0.6;
    cursor: pointer;
    scale: 2;
}

::backdrop {
  background-color: black;
  opacity: 0.7;
}
#dialog-close {
    align-self: flex-end;    
    width: 35px;
    border-radius: 50%;
}
#button-add-book{
    align-self: center;
    width: 100%;
}
.dialog-modal{
    margin: auto;
    width: 100%;
    height: 450px;
    padding: 20px;
    border-radius: 6px;
    border: none;
}
.hidden {
    display: none !important;
}
.footer {
    justify-content: center;
    padding: 10px;
}
@media only screen and (min-width: 700px) {
    .dialog-modal {
        max-width: 400px;
    }
    .book {
        max-height: 300px;
        max-width: 300px;
    }
    #content .header-top {
        display: flex;
    }
}